pip
wheel
Office365-REST-Python-Client
pandas
openpyxl
bs4
tiktoken
requests
openai
weaviate-client
langchain
tabula
pypdf
python-pptx
docx
extract-msg
pytest
backoff
requests-ntlm
unstructured[all-docs]
office365
